table {
	border-collapse: collapse;
	margin: 5px;
}

caption {
	font-size: 16pt
}

th, td {
	border: 1px solid Gray;
	padding: 5px;
}

th {
	text-align: right;
	width: 100px;
	color: white;
	background-color: DodgerBlue;
}

td {
	background-color: White;
	min-width: 170px;
}

input, textarea, select {
	width: 170px;
	box-sizing: border-box;
}

input[type="checkbox"], input[type="radio"] {
	width: 20px;
}

.discount-card {
    border: 2px solid blue;
    position: relative;
}

.discount-tag {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgb(255, 140, 0);
    color: white;
    padding: 5px;
    border-radius: 5px;
}
