<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <base th:href="@{/}">
    <link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
    <link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>First page of Project</title>
    <style>
    .body{
    margin:0;
    }
    </style>
</head>
<body>
  	 <div th:insert="~{fragments/navbar.html :: navbar}"></div>
	
	<div class="container">
    <div class="row">
        <div th:each="travel : ${travelOptions}" class="col-md-4">
    <div class="card mb-4">
        <img th:src="@{'/images/' + ${travel.locationImage}}" class="card-img-top" alt="Travel Destination" width="450" height="300">
        <div class="card-body">
            <h5 class="card-title" th:text="${travel.destinationName}"></h5>
            <p class="card-text">
                Transportation: <span th:text="${travel.transportationType}"></span><br>
                Accommodation: <span th:text="${travel.accommodationType}"></span><br>
                Category: <span th:text="${travel.getTravelCategory().getCategoryName().toString()}"></span><br>
                Departure: <span th:text="${travel.departureDateTime}"></span><br>
                Return: <span th:text="${travel.returnDateTime}"></span><br>
                Number of Nights: <span th:text="${travel.numberOfNights}"></span><br>
                Price: <span th:text="${travel.arrangmentPrice}"></span><br>
                Total Seats: <span th:text="${travel.totalSeats}"></span><br>
                Available Seats: <span th:text="${travel.availableSeats}"></span>
            </p>
            <a href="#" class="btn btn-secondary mb-2">View Details</a> 
            <a href="#" class="btn btn-primary mb-2">Make Reservation</a> 
        </div>
    </div>
</div>
    </div>
</div>
	
    
</body>
</html>
